<html>
    <head>
        <title>Order Confirmation Email</title>
    </head>
    <body>
    <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#ffffff" style="font-family:Arial; font-size:12px; color:#000000; line-height:20px;">
        <tr height="10"></tr>
        <tr>
            <td>
                <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td align="left">
                        Hi User,<br/>
                        Greetings from <a href="http://beautifulyears.com/" style="color:#000000; text-decoration:none;" target="_blank">Beautifulyears.com</a><br/>
                        Your order has been placed with below mentioned item details !
                    </td>
                    <td align="left">
                        <a href="http://beautifulyears.com/">
                            <img src="http://beautifulyears.com/assets/img/home/logo.png" width="225" border="0" align="center" />
                        </a>
                    </td>
                </tr>
                </table>
            </td>
        </tr>
        <tr height="15"></tr>
        <tr height="1">
            <td width="100%" bgcolor="#dddddd"></td>
        </tr>
        <tr height="20"></tr>
        <tr>
            <td>
                <strong>Order Number: </strong>  <span th:text="${order.orderNumber}"></span>
            </td>
        </tr>
        <tr height="10"></tr>
        <tr>
            <td>
                <strong>Order Date: </strong> <span th:text="${order.submitDate}"></span>
            </td>
        </tr>
        <tr height="10"></tr>
        <tr>
            <td>
                <strong>Item Deatils </strong> 
            </td>
        </tr>
        <tr height="5"></tr>
        <tr>
            <td>
                <table width="600" border="1"  cellspacing="0" cellpadding="5" align="center"  style="border-collapse: collapse;">
                    <tr bgcolor="#000000" style="color:#ffffff; font-sizr:16px; font-weight:bold;">
                        <td align="center"  width="160">Product Details</td>
                        <td align="center" width="140" th:if="${order.deliveryType==0}">AWB Number</td>
                        <td align="center" width="50">Qty.</td>
                        <td align="center" width="80">Price<br/> Per Unit</td>
                        <td align="center" width="90">Discount</td>
                        <td align="center" width="50">Tax</td>
                        <td align="center" width="80">Total<br/>Price</td>
                    </tr>
                    <!-- repeater -->
                    <tr bgcolor="#ffffff" style="color:#000000;" th:each="orderItem : ${order.orderItems}">
                        <td align="center"><a href="" style="color:green; text-decoration:none; font-size:14px;"><span th:text="${orderItem.itemName}"></span></a></td>
                        <td align="center"  th:if="${order.deliveryType==0}"><span th:text="${orderItem.awbNumber}"></span></td>
                        <td align="center"><span th:text="${orderItem.quantity}"></span></td>
                        <td align="center"><span th:text="${orderItem.price}"></span></td>
                        <td align="center">0%</td>
                        <td align="center"><span th:text="${orderItem.taxAmount}"></span></td>
                        <td align="center"><span th:text="${orderItem.price}"></span></td>
                    </tr>
                    <!-- repeater ends -->
                </table>
            </td>
        </tr>
        <tr>
            <td>
                 <table width="600" border="1"  cellspacing="0" cellpadding="5" align="center"  style="border-collapse: collapse;">
                    <tr bgcolor="#ffffff" style="color:#000000;  border-top:0px; border-bottom:0px;">                        
                        <td align="right" width="534">Sub Total</td>
                        <td align="center" width="66"><span th:text="${order.subTotal}"></span></td>
                    </tr>
                    <tr bgcolor="#ffffff" style="color:#000000; border-top:0px; border-bottom:0px;">                        
                        <td align="right"> Total Tax</td>
                        <td align="center"><span th:text="${order.totalTax}"></span></td>
                    </tr>
                    <tr th:if="${order.deliveryType==0}" bgcolor="#ffffff" style="color:#000000; border-top:0px; border-bottom:0px;">                        
                        <td align="right">Delivery Charge</td>
                        <td th:if="${order.deliveryType==0}" align="center"><span th:text="${order.totalDeliveryCharges}"></span></td>
                        <td th:unless="${order.deliveryType==0}" align="center"><span th:text="0"></span></td>
                    </tr>
                    
                 </table>
            </td>
        </tr>
        <tr>
            <td>
                <table width="600" border="1"  cellspacing="0" cellpadding="5" align="center"  style="border-collapse: collapse;">                    
                    <tr bgcolor="#ffffff" style="color:#000000;">                        
                        <td align="right" width="534"><b>Total</b></td>
                        <td th:if="${order.deliveryType==0}" align="center" width="66"><b><span th:text="${order.total}"></span></b></td>
                        <td th:unless="${order.deliveryType==0}" align="center" width="66"><b><span th:text="${order.subTotal}"></span></b></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="20" ></tr>
         <tr th:if="${order.deliveryType==0}">
            <td>
                <strong>The Shipment will be sent to:</strong> 
            </td>
        </tr>
        <tr height="5" th:if="${order.deliveryType==0}"></tr>
        <tr height="1" th:if="${order.deliveryType==0}">
            <td width="100%" bgcolor="#dddddd"></td>
        </tr>
        <tr height="5" th:if="${order.deliveryType==0}"></tr>
        <tr th:if="${order.deliveryType==0}">
            <td>
                <span th:text="${order.customerName}"></span><br/>

                <span th:text="${order.shippingAddr1}"></span><br/>

                <span th:text="${order.shippingAddr2}"></span><br/>

                India
            </td>
        </tr>
        <tr height="20" th:if="${order.deliveryType==0}"></tr>
        <tr>
            <td>
                <strong>Sold by</strong> 
            </td>
        </tr>
        <tr height="5"></tr>
        <tr height="1">
            <td width="100%" bgcolor="#dddddd"></td>
        </tr>
        <tr height="5"></tr>
        <tr>
            <td>
                Sold By: <a href="http://beautifulyears.com/" style="color:#000000; text-decoration:none;" target="_blank">BeautifulYears Technologies &amp; Services Pvt. Ltd.</a><br/>
                Address: No.48, 2nd main, Koramangala 1st block, Bengaluru - 560034<br/>
                TIN/CST NO : 29431300594
            </td>
        </tr>
        <tr height="30"></tr>
        <tr>
            <td>
                You can always visit your order page to  view your order status and to contact us regarding this order.
            </td>
        </tr>
         <tr height="20"></tr>
        <tr>
            <td>
                <table width="100%" style="border:1px solid #dddddd;" cellspacing="0" cellpadding="0" align="center">
                    <tr height="15"></tr>
                    <tr>
                        <td align="left" width="3%"></td>
                        <td align="left" width="94%">
                            For any assistance with your order<br/>
                            Please call us at <strong>080-6940-0333</strong> or email us at <strong><a href="mailto:contactus@beautifulyears.com" style="color:#000000; text-decoration:none;" target="_blank">contactus@beautifulyears.com</a></strong>
                        </td>
                         <td align="left" width="3%"></td>
                    </tr>
                    <tr height="15"></tr>
                </table>
            </td>
        </tr>
        <tr height="20"></tr>
        <tr>
            <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="font-size:10px; line-height:15px;">
                    <tr>
                        <td align="left" width="48%" valign="top">
                             <table width="100%" border="0" cellspacing="0" cellpadding="0" align="left">
                                <tr>
                                    <td>
                                        Disclaimer:
                                    </td>
                                </tr>
                                <tr height="1"></tr>
                                <tr>
                                    <td>
                                        The goods sold as part of this shipment are intended for end user consumption/retial sale are not for re-sale.<br/>
                                        E.&amp;O.E., Subject to Bangalore jurisdiction
                                    </td>
                                </tr>
                             </table>
                        </td>
                        <td align="left" width="4%"></td>
                        <td align="left" width="48%" valign="top">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="left">
                                <tr>
                                    <td>
                                        Registered Address
                                    </td>
                                </tr>
                                <tr height="1"></tr>
                                <tr>
                                    <td>
                                        Beautifulyears Technologies &amp; Services Pvt. Ltd., NO E 413 V M Meadows Apartment, Horamavu, Bangalore - 560043
                                    </td>
                                </tr>
                             </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="10"></tr>
    </table>
</body>
</html>