<html>
  <head><title>Order Confirmation Email</title></head>
  <body background="#FFFFFF">
  	Hi Admin,
  	A new order is placed.
  	<br></br>
  	<hr></hr>
  	Please find below, the summary of your order.
  	<br></br>
  	<br></br>
  	<div th:each="orderItem : ${order.orderItems}">
  		<div>
  			<span>Item Name:</span>
  			<span th:text="${orderItem.name}"></span>
  		</div>
  		<div>
  			<span>Item Price:</span>
  			<span th:text="${orderItem.salePrice}"></span>
  		</div>
  		<div>
  			<span>Quantity:</span>
  			<span th:text="${orderItem.quantity}"></span>
  		</div>
  		<!-- <div>
  			<span>Subtotal:</span>
  			<span th:text="${orderItem.price}"></span>
  		</div> -->
  		<br></br>
  	</div>
  	<div>
  		<span>Order Number:</span>
  		<span th:text="${order.orderNumber}"></span>
  	</div>
  	<div>
  		<span>Order Date:</span>
  		<span th:text="${order.submitDate}"></span>
  	</div>
  	<div>
  		<span>Order Payment:</span>
  		<span th:text="${order.total}"></span>
  	</div>
  	For any assistance with your order please call us at <a href="tel:08069400333">080-6940-0333</a> or email us at <a href="mailto:writetous@beautifulyears.com">writetous@beautifulyears.com</a>.
  </body>
</html>